$fieldBottomSpace: 1.59375em;

//COLORS
$green: #7FC35C;
$lightGreen: #4AD991;
$lighterGreen: #90EE90;

$lilac: #A3A0FB; //rgb(163, 160, 251)
$darkLilac: #7C56F7;
$darkerLilac: #613FD1;
$mediumLilac: #8B88FA;
$lightLilac: #F0F0FF;

$yellow: #FFCA83;

$red: #FF6565;

$orange: #FFA040;
$darkOrange: #CC5614;

$blue: #3B86FF;
$lightBlue:#0BCCFA;
$darkBlue: #4D60DB;
$darkerBlue: #292F4C; //rgb(41, 47, 76)

$lightBackground: #FBFBFD;

$purple: #613FD1;
$pink: #E55EFF;
$darkPink: #EC1C6F;
$lightPink: #FF87DF;

$white: #FFF;
$grey: #A5A4BF;
$darkGrey: #E9E8F3;
$lightGrey: #F0F0F7;
$lightBlack: #43425D;
$lighterBlack: #565570;
$black: #2d2d39;
$darkenGrey: darken($grey, 10%);

//FONT
$lightText: #FFF;
$darkText: $darkerBlue;

.fg-primary{
  color: $darkLilac;
}
.fg-primary-darken-10{
  color: darken($darkLilac, 10%);
}
.fg-primary-darken-20{
  color: darken($darkLilac, 20%);
}

.fg-white{color: #FFF;}
.fg-white-force{color: #FFF !important;}
.fg-grey{color: $grey;}
.fg-grey-darken{color: darken($grey, 10%);}
.fg-grey-darken-force{color: darken($grey, 10%) !important;}
.fg-light-green{color: $lightGreen;}
.fg-light-green-force{color: $lightGreen !important;}
.fg-red{color: $red;}
.fg-red-important{color: $red !important;}
.fg-pink{color: $pink;}
.fg-light-pink{color: $lightPink;}
.fg-orange{color: $orange;}
.fg-orange-force{color: $orange !important;}
.fg-yellow{color: $yellow;}
.fg-dark-lilac{color: $darkLilac;}
.fg-dark-lilac-force{color: $darkLilac !important;}
.fg-lilac{color: $lilac;}
.fg-blue{color: $blue;}
.fg-light-blue{color: $lightBlue;}
.fg-light-black{color: $lightBlack;}
.fg-light-black-force{color: $lightBlack !important;}
.fg-dark-pink{
  color: $darkPink;
}

.bg-transparent{background-color: transparent;}
.bg-transparent-force{background-color: transparent !important;}
.bg-grey{background-color: $grey;}
.bg-white{background-color: $white;}
.bg-light-green{background-color: $lightGreen;}
.bg-lighter-green{background-color: $lighterGreen;}
.bg-red{background-color: $red !important;}
.bg-orange{background-color: $orange;}
.bg-yellow{background-color: $yellow;}
.bg-pink{background-color: $pink;}
.bg-dark-lilac{background-color: $darkLilac;}
.bg-dark-lilac-force{background-color: $darkLilac !important;}
.bg-lilac{background-color: $lilac;}
.bg-lilac-a-50{background-color: rgba($lilac, .5);}
.bg-blue{background-color: $blue;}
.bg-light-blue{background-color: $lightBlue;}
.bg-light-black{background-color: $lightBlack;}
.bg-light-grey{background-color: $lightGrey;}
.bg-dark-pink{background-color: $darkPink;}

*.hover-grey:hover{background-color: rgba($grey, .1);}
*.hover-white:hover{background-color: rgba($white, .1);}
*.hover-light-green:hover{background-color: rgba($lightGreen, .1);}
*.hover-lighter-green:hover{background-color: rgba($lighterGreen, .1);}
*.hover-red:hover{background-color: rgba($red, .1);}
*.hover-orange:hover{background-color: rgba($orange, .1);}
*.hover-yellow:hover{background-color: rgba($yellow, .1);}
*.hover-pink:hover{background-color: rgba($pink, .1);}
*.hover-dark-lilac:hover{background-color: rgba($darkLilac, .1);}
*.hover-lilac:hover{background-color: rgba($lilac, .1);}
*.hover-blue:hover{background-color: rgba($blue, .1);}
*.hover-light-blue:hover{background-color: rgba($lightBlue, .1);}
*.hover-light-black:hover{background-color: rgba($lightBlack, .1);}

$borderRadius: .25rem;

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.small-font{
  font-size: .625rem;
}

.font-size-12{
  font-size: .75rem;
}
.font-size-11{
  font-size: .6875rem;
}
.font-size-10{
  font-size: .625rem;
}
