@import 'declarations';

.with-padding {
  padding: 1rem;
}

.with-padding-8 {
  padding: .5rem;
}

.with-border {
  border: .0625rem solid rgba($grey, .5);
}

.with-border-right {
  border-right: .0625rem solid rgba($grey, .5);
}

.with-border-left {
  border-left: .0625rem solid rgba($grey, .5);
}

.overflow-hidden {
  overflow: hidden;
}

.flex-spacer, .full-flex {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}

.flex-force {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-flex-force {
  flex: 1 1 0;
}

.full-flex-force-override {
  flex: 1 1 0 !important;
}

.flex-25 {
  width: calc(1 / 4 * 100% - (1 - 1 / 4) * 1.125rem);
}

.flex-33 {
  flex: 0 0 calc(100% / 3);
}

.flex-33-padding {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 1.125rem);
}

.flex-50 {
  flex: 0 0 50%;
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-end {
  justify-content: flex-end
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-even {
  justify-content: space-evenly
}

.align-start {
  align-items: flex-start
}

.align-center {
  align-items: center
}

.align-end {
  align-items: flex-end
}

.align-stretch {
  align-items: stretch
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.elevated {
  box-shadow: 0 .0625rem .625rem .0625rem rgba(0, 0, 0, .2);
}

.elevated-right {
  box-shadow: .1875rem 0 .3125rem .0625rem rgba(0, 0, 0, .2);
}

.rounded-corners {
  border-radius: .25rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $darkerBlue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $darkerBlue;
  opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $darkerBlue;
  opacity: 1;
}

.full-height {
  flex: 1 1 0;
  display: flex;
  flex-direction: column !important;
}

.full-flex-column {
  flex: 1 1 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

.transparent-toolbar {
  background: transparent !important;
}

mat-drawer-container {
  background: transparent !important;
  color: inherit !important;
}

.fixed {
  position: fixed;
  width: 100%;
}

mat-form-field.mat-form-field-disabled {

  input[disabled] {
    color: darken($grey, 10) !important;
    -webkit-text-fill-color: darken($grey, 10) !important;
    opacity: 1 !important;
  }
}

mat-form-field.integrated {

  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-infix {
      border-top: 0 !important;
      padding: 0 !important;
    }

    .mat-form-field-underline, .mat-form-field-subscript-wrapper {
      height: 0 !important;
      display: none !important;
    }
  }

  textarea {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.125rem;
    overflow: hidden !important;

    &:disabled {
      color: rgba($darkerBlue, .6) !important;
      cursor: pointer;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 62.5rem white inset;
  background-color: transparent;
}

.no-padding {
  padding: 0 !important;
}

.mat-select-trigger {
  padding-right: .5rem;
}

.no-width .mat-form-field-infix {
  width: inherit !important;
}

textarea.cdk-textarea-autosize {
  overflow: hidden !important;
}

.self-overlay {
  border: .0625rem dashed transparent;
  border-radius: 0;
  transition: all ease .3s;
  min-height: 6.25rem !important;
  min-width: 6.25rem !important;

  &:hover {
    border-radius: .1875rem;
    background: $lightGrey;
    border-color: $lilac;
  }

  i {
    font-size: 4rem !important;
  }
}

.mat-icon-button .mdi.mdi-24px {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon-button fa-icon {
  transition: all ease .3s;
}

mat-form-field.no-hints {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;

    .mat-form-field-underline {
      bottom: 0 !important;
    }
  }
}

.mat-tooltip {
  background: $darkerBlue !important;
  padding: .625rem .625rem !important;
  font-size: .6875rem !important;
}

.margin-top-5px {
  margin-top: .3125rem;
}

.margin-top-15px {
  margin-top: .9375rem;
}

.margin-right-5px {
  margin-right: .3125rem;
}

.margin-left-5px {
  margin-left: .3125rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 1.125rem;
}

.text-align-center {
  text-align: center;
}

.block {
  display: block;
}

.left-side {
  background: #fff;
  max-width: 34.375rem;
}

.padded {
  padding: 1rem;
}

.overflow-visible {
  overflow: visible;
}

.relative {
  position: relative;
}

.progress-bar-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

i {
  &.red {
    color: $red
  }

  &.green {
    color: $lightGreen
  }
}

.mat-slide-toggle-bar {
  height: .5rem !important;
}

.mat-slide-toggle-thumb-container {
  top: -.4375rem !important;
}

.mat-progress-spinner, .mat-progress-spinner svg {
  width: 100% !important;
  height: 100% !important;
}


.tab-nav-bar.with-fab .mat-tab-link-container {
  overflow: visible !important;
}

.mat-tab-link {
  font-family: Quicksand, 'Open Sans', sans-serif !important;
}

.clickable {
  cursor: pointer;
}

.mat-tab-header-pagination {
  transition: all ease .3s;
}

.mat-tab-header-pagination-disabled {
  box-shadow: none !important;
}

.horizontal-spacer {
  height: .0625rem;
  min-height: .0625rem;
  width: .625rem;
  min-width: .625rem;
  content: '';
  display: block;

  &.big {
    width: 1.875rem;
    min-width: 1.875rem;
  }
}

.mat-form-field {
  line-height: 1.5 !important;
}

.loading-status {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  color: $grey;

  i {
    font-size: 2.25rem !important;
    color: $lightBlue;
    position: relative;
    animation: up-and-down .8s infinite;
  }
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-label-wrapper .mat-form-field-label {
  font-family: Quicksand, sans-serif;
}

.mat-flat-button.flat-icon {
  min-width: 1.875rem !important;
  padding: 0 .5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mat-drawer-container {
  background: transparent !important;
}

.mat-radio-label-content {
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


$secondBtnPosition: 4.25rem;
$thirdBtnPosition: 8.5rem;

.btn-add {
  position: absolute !important;
  right: $secondBtnPosition;
}

.first-btn {
  position: absolute !important;
  right: 0;
}

.second-btn {
  position: absolute !important;
  right: $secondBtnPosition;
}

.third-btn {
  position: absolute !important;
  right: $thirdBtnPosition;
}

.left-btn {
  position: absolute !important;
  left: 0;
}

.btn-print {
  position: absolute !important;
  right: $thirdBtnPosition;
}

.btn-edit {
  position: absolute !important;
  right: $secondBtnPosition;
}

.btn-delete {
  position: absolute !important;
  right: 0;
}

.relative {
  position: relative;
}

.mat-tab-link {
  padding: 0 .5rem !important;
  min-width: 2.5rem !important;

  opacity: 1 !important;

  i {
    opacity: .3 !important;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
  }

  &.mat-tab-label-active i {
    opacity: 1 !important;
    color: $darkLilac;
  }

  &.done-link, &.done-link.mat-tab-label-active {
    i {
      color: $lightGreen;
      opacity: 1 !important;
    }

    span {
      margin-left: .3125rem;
    }
  }
}

.mat-background-primary {
  .mat-tab-link {
    &.mat-tab-label-active i {
      opacity: 1 !important;
      color: $orange !important;
    }
  }
}

nav.flexed {
  a {
    flex: 1;
  }
}


.text-align-right {
  .mat-select-value {
    text-align: right;
    padding-right: .3125rem;
  }
}

.absolute-center {
  position: absolute;
  left: 50%;

  .absolute-center-wrapper {
    position: relative;
    left: -50%;
  }
}

.blur {
  filter: blur(0);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;

  &.blurred {
    filter: blur(.1875rem);
  }
}

.form-wrapper {
  padding: 0 .625rem .625rem .625rem;
  color: $darkerBlue;

  &.form {
    padding: 1.125rem 1.125rem .3125rem;

    &.mobile {
      padding: 0;
    }
  }

  &.display {
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
  }
}

mat-form-field.no-underline {
  .mat-form-field-underline {
    visibility: hidden;
  }
}

.mat-fab.mat-button-disabled {
  background: $grey !important;
}

.no-wrapping {
  white-space: nowrap;
}

i {
  span {
    color: $darkPink;
    text-decoration: underline;
  }
}

.mat-fab {
  box-shadow: 0 .1875rem .625rem -.0625rem rgba(0, 0, 0, .1) !important;
}

.height-100 {
  height: 100%;
}

.icon-block-edition {
  font-size: 1.5em;
}

.normal-text {
  font-family: Quicksand, Helvetica, Arial, sans-serif !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $grey !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $grey;
}

.mat-form-field-label-wrapper {
  top: -1.1em;
}

.small-label {
  font-size: .75rem;
  color: darken($grey, 10%);
}

.width-100 {
  width: 100%;
  box-sizing: border-box;
}

.progress-bar {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}

button.mat-button {
  color: darken($grey, 15%);
  transition: all ease .3s;
  font-family: Quicksand, 'Open Sans', sans-serif;

  &:hover {
    background: $lightGrey !important;
  }

  &.grey {
    border-radius: 1.875rem;

    &:hover {
      background: $white !important;
    }
  }

  .mat-button-focus-overlay {
    background: transparent;
  }
}

.mat-list-icon {
  font-size: 1.125rem !important;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
  color: darken($grey, 10%) !important;
}

.no-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  fa-icon {
    opacity: .2;
  }

  span {
    color: $darkenGrey;
    font-size: 1.125rem;
  }
}

.inline-detail {
  font-size: .6875rem;
  color: darken($grey, 10%);
}

.below-icon-span {
  margin-top: 1rem;
  color: darken($grey, 10%);
  font-size: 1rem;
}

.grid-centered {
  display: grid;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}


.vertical-menu {
  display: flex;
  flex-direction: column;
  padding: .25rem;

  .vertical-menu-title {
    text-align: center;
    border-bottom: .0625rem solid rgba($lightGrey, .5);
    padding: .5rem;
    margin-bottom: .5rem;

    fa-icon {
      margin-right: .5rem;
      color: $darkenGrey;
    }
  }

  .divider {
    position: relative;
    display: flex;
    justify-content: center;

    &:after {
      height: .0625rem;
      width: 100%;
      position: absolute;
      background: $lightGrey;
      left: 0;
      top: .75rem;
      content: '';
      z-index: -1;
    }

    span {
      font-size: .625rem;
      text-transform: uppercase;
      color: $darkenGrey;
      padding: .3125rem .625rem .3125rem .3125rem;
      background: white;
      display: block;
    }
  }
}


.data-container {
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
    color: $mediumLilac;
    text-transform: uppercase;
    font-size: .75rem;
  }

  .text {
    padding: 1rem;
    color: darken($grey, 10%);
  }
}

.horizontal-btn {
  display: flex;
  padding: 1rem;
  align-items: center;

  fa-icon {
    margin-right: 1rem;
    color: $darkLilac;
  }

  div.text {
    display: flex;
    flex-direction: column;

    span:first-child {
      font-weight: bold;
    }

    span:nth-child(2) {
      color: $darkenGrey;
      font-size: .75rem;
    }
  }
}

.data-list {

  &.with-indicators {

    .data-list-item {
      padding: 1rem 0 0;
    }
  }

  .data-list-item {
    display: flex;
    padding: 1rem 0;
    transition: all ease .3s;
    border-radius: .3125rem;

    &.clickable:hover {
      background: $lightBackground;
    }

    .data-list-item-content {
      flex: 1;

      .data-list-item-header {
        color: $darkLilac;

        span > span {
          color: $darkenGrey;
        }
      }

      .data-list-item-date {
        font-size: 0.9em;
        padding: 0 0 .25rem;
        color: $darkenGrey;
      }

      .data-list-item-details p {
        font-size: .8125rem;
        margin: 0;
        color: darken($grey, 10%);

        span {
          font-weight: bold;
        }
      }
    }
  }
}

.color-item {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin-left: .3125rem;

  &:first-child {
    margin-left: 0;
  }

  &.border {
    border: .125rem solid $grey;
  }
}

mat-chip-list.centered .mat-chip-list-wrapper {
  justify-content: center !important;
}

.cdk-overlay-container {
  z-index: 99999;
}


.mat-select, .mat-option-text {
  font-family: QuickSand, sans-serif !important;
}

.mat-standard-chip .mat-chip-avatar {
  margin-left: 0 !important;
}

/* */
.form-field-container {
  mat-form-field {
    padding: 20px;
    .mat-form-field-label {
      font-size: 14px;
    }
  }
}



