<div class="form-field-container" *ngIf="step == 1">
  <div>
    <mat-form-field>
      <mat-label>Student Username</mat-label>
      <input matInput [(ngModel)]="studentUserName"/>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
</div>
<div class="flex flex-column" style="width: 80%" *ngIf="step == 2">
  <div>
    <h3>Courses</h3>
    <div class="data-list">
      <div class="data-list-item" *ngFor="let course of courses">
        <div class="data-list-item-content">
          <div class="data-list-item-header">
            <span>{{ course.courseName }}</span>
          </div>
          <div class="data-list-item-date">
            {{ course.startDate | date:'mediumDate' }}
          </div>
          <div class="data-list-item-details">
            <p>
              Description: {{ course.description }}
            </p>
          </div>
        </div>
        <div class="data-list-item-actions">
          <button mat-raised-button color="primary" (click)="enrollCourse(course)" *ngIf="isEnrollable(course)">Enroll</button>
          <button mat-raised-button color="accent" (click)="finishCourse(course)" *ngIf="isFinishable(course)">Finish</button>
          <button mat-raised-button color="warn" (click)="logHours(course)" *ngIf="isFinishable(course)">Log Hours</button>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; background-color: #DEDEDE" *ngIf="courseSelected">
    <h2>Log Hours</h2>
    <form [formGroup]="formLogHours" (ngSubmit)="saveLog()">
      <div class="flex flex-column">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput
                 [dropSpecialCharacters]="false"
                 formControlName="date"
                 [mask]="'00/00/0000'"/>
          <mat-error *ngIf="formLogHours.get('date').hasError('required')">Date is required</mat-error>
        </mat-form-field>
        <div class="form-field">
          <label>Task Category:</label>
          <div class="radio-container">
            <mat-radio-group formControlName="taskCategory">
              <mat-radio-button *ngFor="let category of taskCategories" [value]="category">{{ category }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Task Description</mat-label>
          <input matInput formControlName="taskDescription" required>
          <mat-error *ngIf="formLogHours.get('taskDescription').hasError('required')">Task Description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Time Spent (in minutes)</mat-label>
          <input matInput type="number" formControlName="timeSpent" step="30" required>
          <mat-error *ngIf="formLogHours.get('timeSpent').hasError('required')">Time Spent is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </div>
  <div>
    <h3>Logged hours</h3>
    <div class="data-list">
      <div class="data-list-item" *ngFor="let log of studentLogs">
        <div class="data-list-item-content">
          <div class="data-list-item-header">
            <span>{{ log.taskCategory }}</span>
          </div>
          <div class="data-list-item-date">
            {{ log.date | date:'mediumDate' }}
          </div>
          <div class="data-list-item-date">
            {{ log.timeSpent }} minutes
          </div>
          <div class="data-list-item-details">
            <p>
              Description: {{ log.taskDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
